.portfolio {
    padding: 70px 0;
    // background-color: var(--background-1);
    background-image: linear-gradient(to right, var(--background-2-1), var(--background-2-2));
    color: var(--text-color);
}

.sectionTitle {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
    text-align: center;
}

.portfolioItem {
    list-style-type: none;
    padding: 36px 0;
    border-bottom: 1px dashed #b6b6b6;
}

.portfolioDemoWrap {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    img {
        height: 100%;
    }
}

.portfolioContent {
    font-size: 1.6rem;
    padding: 10px 15px;

    .portfolioName {
        font-size: 2.2rem;
        margin-bottom: 8px;
    }

    .portfolioDesc {
        text-align: justify;
    }

    .portfolioTech {
        margin-left: 18px;
    }
}

.portfolioBtnGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;

    a {
        padding: 12px 18px;
        text-align: center;
        min-width: 200px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.6rem;
    }
    &[attr-type='main'] {
        margin-top: 36px;
    }
}

// Small PC and tablet (768px to 992px)
@media screen and (max-width: 62em) and (min-width: 48em) {
    .portfolio {
        padding: 50px;
    }

    .portfolioBtnGroup {
        flex-direction: column;
        
        a {
            font-size: 1.4rem;
            margin-bottom: 8px;
        }
    }
}

// Small Tablet and mobile phone (less than 767px)
@media screen and (max-width: 47.9375em) {
    .portfolioDemoWrap {
        margin-bottom: 16px;
    }
    
    .portfolioItem {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 24px;
        border-radius: 5px;
        border: none; 
        
        & ~ .portfolioItem {
            margin-top: 36px;
        }
    }

    .portfolioContent {
        .portfolioTech {
            margin-bottom: 12px;
        }
    }

    .portfolioBtnGroup {
        margin: 0;
        a {
            font-size: 1.4rem;
        }
    }
}

// Small Tablet (576px to 767px)
@media screen and (min-width: 36em) and (max-width: 47.9375em) {
    .portfolio {
        padding: 50px;
    }
}


// Mobile phone 
@media screen and (max-width: 35.9375em) {
    .portfolio {
        padding: 50px 0;
    }
    .portfolioItem {
        padding: 16px;
    }
    .portfolioBtnGroup {
        flex-direction: column;

        a {
            margin-bottom: 12px;
        }
    }
}
