@import 'normalize.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --primary: #1363ff;

    // Light mode
    --text-color: #000;
    --background-1: #fff;
    --background-2-1: rgba(219, 238, 255, 0.8);
    --background-2-2: rgba(145, 211, 255, 0.8);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 100%;
    font-family: "Epilogue", sans-serif;
    text-rendering: optimizeSpeed;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

.dark-mode {
    --text-color: #ddd;
    --background-1: #072026;
    --background-2-1: #052831;
    --background-2-2: #052831;
}
