.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    
    .aboutImg {
        img {
            width: 100%;
        }
    }  
}

.aboutContent {
    margin-top: 16px;
    
    h3 {
        font-size: 2.4rem;
        text-decoration: underline;
    }

    h4 {
        font-size: 1.8rem;
    }
    .aboutChildTitle {
        font-style: bold;
        margin-top: 25px;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .getMore p {
        margin-top: 18px;
        text-align: justify;
    }

    .aboutEdu {
        list-style: none;
        .eduTime {
            margin-top: 15px;
            opacity: 0.5;
        }
        
        .eduInfo {
            margin-top: 10px;
        }
    }
}

// Small PC and tablet (768px to 992px)
@media screen and (max-width: 62em) and (min-width: 48em) {
    .about {
        padding: 50px 50px 0;
    }
}

// Small Tablet (576px to 767px) and mobile
@media screen and (max-width: 47.9375em) {
    .aboutImg {
        display: none;
    }
    .aboutContent {
        h3 {
            text-align: center;
        }
    }
}

// Small Tablet (576px to 767px)
@media screen and (min-width: 36em) and (max-width: 47.9375em) {
    .about {
        padding: 50px;
    }
}

// Mobile phone 
@media screen and (max-width: 35.9375em) {
    .about {
        padding: 50px 25px;
    }
}