.contact {
    padding: 80px 0;
    background-image: linear-gradient(to right, var(--background-2-1), var(--background-2-2));
    font-size: 1.6rem;
    color: var(--text-color);

    h3 {
        font-size: 2rem;
        font-weight: bold;
    }
}

.sectionTitle {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 36px;
}

.contactList {
    list-style: none;
    margin-top: 16px;

    li {
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        span {
            margin-left: 12px;
        }
    }
}

.contactFormControl {
    margin-top: 16px;

    textarea, input {
        font-size: 1.4rem;
        line-height: 1.4rem;
        width: 100%;
        padding: 14px;
        margin-bottom: 12px;
        color: var(--text-color);
        border: 1px solid #5489a6;
        outline: none;
    }

    input:focus {
        box-shadow: none;
    }

    input::placeholder {
        line-height: 1.4rem;
    }

    textarea {
        line-height: 2rem;
        border-radius: 0.375rem;
    }

    button {
        font-size: 1.6rem;
        width: 40%;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 10px 12px;
        display: block;
        margin: auto;
    }

    button:hover {
        background-color: #2c72fd;
    }
}

// Small PC and tablet (768px to 992px)
@media screen and (max-width: 62em) and (min-width: 48em) {
    .contact {
        padding: 70px 50px; 
    }
}


// Small Tablet (576px to 767px)
@media screen and (min-width: 36em) and (max-width: 47.9375em) {
    .contact {
        padding: 50px;
    }

    .contactInfo {
        margin-bottom: 36px;
    }
}

// Mobile phone 
@media screen and (max-width: 35.9375em) {
    .contact {
        padding: 50px 0;
    }

    .contactFormControl {
        button {
            width: 100%;
        }
    }
}