.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 14px 100px;
    z-index: 10;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--white);
}

.logo {
    display: flex;
    align-items: center;

    h1 {
        font-size: 2.4rem;
    }
}

.navigate {
    font-size: 1.8rem;

    a {
        margin-left: 50px;
        text-decoration: none;
        color: var(--black);
    }
}