.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.8rem;
    padding: 14px 100px;
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--background-1);
}

.logo {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    cursor: pointer;

    h1 {
        color: var(--text-color);
    }
}

.navList {
    float: right;
    display: flex;
    list-style-type: none;

    .navHeader {
        display: none;
    }

    .navItem {
        display: inline-block;
        text-decoration: none;
        color: var(--text-color); 
        margin-left: 50px;

        &:hover {
            color: var(--primary);
            cursor: pointer;
        }
    }
}

.navMobileWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.openMenuIcon {
    display: none;
    float: right;
    cursor: pointer;
}

.toggleTheme {
    display: none;

}

.toggleTheme,
.themeSelection {
    width: 100%;
    
    .checkbox {
        opacity: 0;
        position: absolute;
    }
    
    .label {
        float: right;
        width: 50px;
        height: 26px;
        background-color: transparent;
        display: flex;
        border-radius:50px;
        border: 1px solid var(--primary);
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        transform: scale(1.5);
    }
      
    .ball {
        width: 20px;
        height: 20px;
        background-color: var(--primary);
        position: absolute;
        top: 2px;
        border-radius: 50%;
    }
}

// Small PC and tablet (768px to 992px)
@media screen and (max-width: 62em) and (min-width: 48em) {
    .wrapper {
        padding: 14px 50px;
    }
    
    .navList {
        a {
            margin-left: 25px;
        }
    }
}

// Small Tablet and mobile phone
@media screen and (max-width: 47.9375em) {
    .mobileGroup {
        display: flex;
        align-items: center;
    }
    .openMenuIcon {
        display: block;
        margin-left: 24px;
    }
    
    .toggleTheme {
        display: block;
        width: 100%;
    } 

    // Toggle theme on PC
    .themeSelection {
        display: none;
    }

    /* Overlay */
    .navOverlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;
    }

    .navList {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background-1);
        width: 80%;
        z-index: 1;
        padding: 24px;
        opacity: 0;
        transform: translateX(100%);
        transition: all linear 0.2s;
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px;

        .navHeader {
            display: block;
            text-align: right;
            padding: 16px;
            cursor: pointer;
        }

        .navItem {
            padding: 16px;
        }
        
        a {
            text-decoration: none;
            color: var(--black);
            margin: 0;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    /* Enable and disbale menu option */
    .navInput:checked ~.navOverlay {
        display: block;
    }

    .navInput:checked ~.navList {
        transform: translateX(0);
        opacity: 1;
    }
}

// Small Tablet (576px to 767px)
@media screen and (min-width: 36em) and (max-width: 47.9375em) {
    .wrapper {
        padding: 14px 50px;
    }
}

// Mobile phone 
@media screen and (max-width: 35.9375em) {
    .wrapper {
        padding: 4px 25px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
