.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px 70px 100px;
    background-image: linear-gradient(to right, var(--background-2-1), var(--background-2-2));

    .skillList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        width: 690px;
        margin-top: 20px;

        li {
            width: 75px;
            height: 75px;
            margin: 20px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
            border-radius: 15px;

            &:hover {
                transform: scale(1.25);
                transition: transform .25s;
            }
        }
    }
}

.sectionTitle {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: underline;
    margin: auto;
    color: var(--text-color);
}

// Small Tablet (576px to 767px)
@media screen and (min-width: 36em) and (max-width: 47.9375em) {
    .skill {
        padding: 50px; 
        
        .skillList {
            width: 360px;

            li {
                height: 50px;
                width: 50px;
            }
        }
    }
}

// Mobile phone 
@media screen and (max-width: 35.9375em) {
    .skill {
        padding: 50px 0; 
        
        .skillList {
            width: 100%;

            li {
                height: 50px;
                width: 50px;
            }
        }
    }
}