.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px 100px;
    background-image: linear-gradient(to right, var(--background2), var(--background1));

    .skillList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        width: 500px;
        margin-top: 12px;

        li {
            padding: 25px;
        }
    }
}

.sectionTitle {
    font-size: 2.4rem;
    text-decoration: underline;
    margin: auto;
}