.content {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-padding-top: 88px;
}

section {
    scroll-snap-align: start;
}

/* Mobile phone  */
@media screen and (max-width: 35.9375em) {
    .content {
        scroll-padding: 68px;
    }
}